body {
  font-family: sans-serif;
  background-color: peachpuff;
}
#navbar {
  width: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
}
#navbar a {
  float: right;
  margin: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: background 0.5s ease, color 0.5s ease;
}
#navbar a:hover {
  background-color: peachpuff;
  color: black;
}
#navbar a:active {
  background-color: peachpuff;
  color: white;
}
#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  /* flex-direction:column; */
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 40px;
}
h1 {
  font-size: 40px;
  color: cornflowerblue;
}
h2 {
  font-weight: 200;
  text-align: center;
  font-size: 20px;
  color: coral;
  font-style: italic;
}
div.projects {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  /* overflow: hidden; */
}
.projects img {
  width: 100%;
  height: 300px;
  position: relative;
}
.projects img::before {
  content: "";
  position: absolute;
}
.project-tile {
  display: block;
  width: 300px;
  margin: auto;
  border: none;
  background-color: #1a1a1a;
  text-decoration: none;
  padding: 10px;
  transition: background 1s ease, padding 0.4s ease;
  cursor: pointer;
  font-size: 25px;
  /* margin: 40px; */
}
.projects_title {
  margin-left: 35%;
}
.project-tile:hover {
  padding: 20px;
  box-shadow: 0px 0px 20px #1a1a1a;
}
#goals {
  background-color: teal;
  height: 100vh;
}
#projects {
  background-color: grey;
  height: 100vh;
}
#skills {
  background-color: slategray;
  height: 100vh;
}
#skills h1,
#goals h1,
#projects h1 {
  position: relative;
  top: 100px;
  text-align: right;
  font-size: 100px;
  opacity: 0.1;
  color: white;
}
.skills {
  margin-left: 40%;
  margin-top: 50px;
}
.skills-info {
  font-size: 14px;
  color: #bebebe;
  margin-left: 40%;
  max-width: 800px;
  margin-top: 200px;
}
div[class^="tag-"] p {
  color: #fff;
  text-align: left;
  padding-left: 10px;
  font-size: 11px;
  padding-top: 3px;
}
.progressbar {
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px solid #48bcad;
  border-radius: 20px;
  margin-top: 7px;
}
div[class^="bar-"] {
  position: relative;
  background-color: #fff;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;
}
div[class^="bar-"] span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  background: #fff;
}
div[class^="bar-"]:hover span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  background: #48bcad;
}
.bar-html,
.bar-css,
.bar-js {
  width: calc(0 - 6px);
}
#experience {
  background-color: sandybrown;
  height: 100vh;
}
a:hover {
  text-decoration: none;
  color: peachpuff;
}
a:visited {
  color: peachpuff;
}
a {
  color: peachpuff;
  text-decoration: none;
}

#contact-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom left, #1a1a1a, #333333);
  margin-bottom: 40px;
  text-align: center;
}
.social {
  display: flex;
  color: white;
  width: 600px;
  justify-content: space-between;
}
.social li {
  list-style: none;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li a {
  margin-left: 10px;
}
.social li:hover a {
  color: red;
}

@media screen and (max-width: 600px) {
  #navbar {
    position: fixed;
  }
}
