body {
  font-family: sans-serif;
  background-color: black;
}
#navbar {
  width: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
}
#navbar a {
  float: right;
  margin: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: background 0.5s ease, color 0.5s ease;
}
#navbar a:hover {
  background-color: peachpuff;
  color: black;
}
#navbar a:active {
  background-color: peachpuff;
  color: white;
}
#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  /* flex-direction:column; */
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 40px;
}
h1 {
  font-size: 40px;
  color: cornflowerblue;
}
h2 {
  font-weight: 200;
  text-align: center;
  font-size: 20px;
  color: coral;
  font-style: italic;
}
div.projects {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  /* overflow: hidden; */
}
.projects img {
  width: 100%;
  height: 300px;
  position: relative;
}
.projects img::before {
  content: "";
  position: absolute;
}
.project-tile {
  display: block;
  width: 300px;
  margin: auto;
  border: none;
  background-color: #1a1a1a;
  text-decoration: none;
  padding: 10px;
  transition: background 1s ease, padding 0.4s ease;
  cursor: pointer;
  font-size: 25px;
  /* margin: 40px; */
}
.projects_title {
  margin-left: 35%;
}
.project-tile:hover {
  padding: 20px;
  box-shadow: 0px 0px 20px #1a1a1a;
}
#goals {
  background-color: teal;
  height: 100vh;
}
#about {
  background-color: white;
  height: 100vh;
}
.about-container {
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.about-left {
  width: 20%;
  height: 100vh;
  top: -10%;
  left: 0;
  background-color: #4c4c4c;
  position: relative;
}

.about-left_detail {
  position: absolute;
  top: 10%;
  text-align: center;
}
ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.data {
  margin-left: 10px;
}
.data p {
  color: white;
  font-size: 20px;
}
.about-left_detail > p {
  color: white;
  font-size: 30px;
}
.about-right {
  width: 80%;
  height: 100vh;
  background-color: #e5df88;
  position: relative;
}
.about-right_detail img {
  height: 750px;
  margin-left: 15%;
}
.about-right_detail h1 {
  position: absolute;
  text-align: right;
}
.about-right_detail p {
  color: white;
  font-size: 30px;
  position: relative;
  top: -50px;
}

#projects {
  background-color: grey;
  height: 100vh;
}
#skills {
  background-color: slategray;
  height: 100vh;
}
#skills h1,
#goals h1,
#projects h1,
#about h1 {
  position: relative;
  top: 50px;
  text-align: right;
  font-size: 100px;
  opacity: 0.1;
  color: white;
}
.skills {
  margin-left: 30%;
  margin-top: 50px;
}
.skills-info {
  font-size: 24px;
  color: #bebebe;
  margin-left: 40%;
  max-width: 1200px;
  margin: 0px auto;
}
div[class^="tag-"] p {
  color: #fff;
  text-align: left;
  padding-left: 10px;
  font-size: 11px;
  padding-top: 3px;
}
.progressbar {
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px solid #48bcad;
  border-radius: 20px;
  margin-top: 7px;
}
div[class^="bar-"] {
  position: relative;
  background-color: #fff;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;
}
div[class^="bar-"] span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  background: #48bcad;
}
/* div[class^="bar-"]:hover span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  background: #48bcad;
  animation: move-right 2s infinite;
} */
.bar-html,
.bar-css,
.bar-js {
  width: calc(0 - 6px);
  /* color: #708090; */
}
#experience {
  background-color: sandybrown;
  height: 100vh;
}
p {
  display: inline-block;
  font-size: 20px;
}
i {
  color: #fff;
  font-size: 20px;
}
a:hover {
  text-decoration: none;
  color: peachpuff;
}
a:visited {
  color: peachpuff;
}
a {
  color: peachpuff;
  text-decoration: none;
}

#contact-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom left, #1a1a1a, #333333);
  margin-bottom: 40px;
  text-align: center;
}
.social {
  display: flex;
  color: white;
  width: 600px;
  justify-content: space-between;
}
.social li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li a {
  margin-left: 10px;
}
.social li:hover a {
  color: red;
}
.timeline {
  position: relative;
  top: 150px;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 5px 5px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  text-align: center;
}
#about h1 {
  color: #333333;
}
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 15px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 10px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

@media screen and (max-width: 600px) {
  #navbar {
    position: fixed;
  }
}
@keyframes move-right {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globaly */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
